.orderRow {
  margin: 50px;
}

.MC_Header_Bar {
  background-color: #2e7bff;
  padding: 15px 20px 15px 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px -0px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  cursor: default;
  transition: all 0.4s ease;
}

.MC_Header_Bar:hover {
  background-color: #2e62ff;
}

.emptyCartBG {
  background-color: #639fff;
  padding: 80px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px -0px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.emptyCartBG:hover {
  background-color: #4a90ff;
}

.emptyCartImage {
  width: 17vw;
  height: 17vw;
  margin-left: 50px;
  margin-right: 50px;
  transition: all 0.4s ease;
}

.emptyCart {
  width: 30%;
  font-size: 25px;
  color: #ffffff;
  margin-right: 50px;
}

.headings {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
  border-radius: 5px;
}

.itemList {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 80px;
}

.tableHeadings {
  width: 100%;
  box-shadow: 0px 3px 15px -0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  color: #ffffff;
  text-align: left;
  background-color: #2e7bff;
}

.tableHeadings:hover {
  background-color: #2e62ff;
}

.tableRow {
  width: 100%;
  box-shadow: 0px 3px 15px -0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.tableRow:hover {
  transform: scale(1.005, 1.005);
}

.tableCell {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.headingCell {
  font-weight: 700 !important;
}

.wideCell {
  width: 40vw !important;
}

.narrowCell {
  width: 10vw !important;
}

.productInfoIcon {
  display: none;
}

.itemList {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 80px;
  min-height: 50vh;
}

@media screen and (max-width: 1060px) {
  .itemList {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    overflow-x: auto;
  }

  .tableHeadings {
    display: none !important;
  }

  .tableRow:hover {
    transform: scale(1, 1);
  }

  .tableRow {
    margin-bottom: 30px;
    flex-direction: column !important;
  }

  .tableCell {
    width: auto !important;
  }

  .productInfoIcon {
    display: flex;
    margin-right: 20px;
  }
}

@media screen and (max-width: 960px) {
  .orderRow {
    align-items: center !important;
    justify-content: center !important;
  }

  .emptyCartRow {
    flex-direction: column !important;
  }

  .emptyCartImage {
    width: 35vw;
    height: 35vw;
    margin-left: 0px;
    margin-right: 5vw;
    margin-bottom: 50px;
  }

  .emptyCart {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-right: 0px;
  }
}

@media screen and (max-width: 560px) {
  .orderRow {
    flex-direction: column !important;
  }

  .btnViewOrder {
    width: 50vw !important;
    margin-bottom: 20px;
  }

  .btnCheckout {
    width: 50vw !important;
  }
}
