html {
  font-family: Roboto;
}

body {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: row;
}

.justify-center {
  align-items: center;
  justify-content: center;
}

.justify-between {
  align-items: center;
  justify-content: space-between;
}
