html {
  font-family: Roboto;
  font-weight: 600;
}

html::-webkit-scrollbar {
  width: 15px;
  height: 100%;
  background-color: #f5fdff;
}

html::-webkit-scrollbar-thumb {
  background-color: #2e7bff;
  transition: all 0.6s ease;
  border-radius: 75px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #2e62ff;
}

html::-webkit-scrollbar-track:hover {
  background-color: #e3f9ff;
}

body {
  margin: 0 !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  align-items: center;
  justify-content: center;
}

.justify-between {
  align-items: center;
  justify-content: space-between;
}

.justify-start {
  align-items: center;
  justify-content: flex-start;
}

.justify-end {
  align-items: center;
  justify-content: flex-end;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.button {
  background-color: #2e7bff;
  padding: 10px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  color: #ffffff;
  box-shadow: 0px 3px 15px -0px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #2e62ff;
  box-shadow: 0px 5px 15px -0px rgba(0, 0, 0, 0.3);
  transform: scale(1.025, 1.025);
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
