.registerImage {
  width: 40vw;
  margin-left: 120px;
  margin-right: 60px;
  border-radius: 10px;
}

.registerFormContainer {
  width: 100%;
  min-height: 90vh;
}

.registerForm {
  width: 75%;
  margin-right: 120px;
  box-shadow: 0px 3px 15px -0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.register_Header_Bar {
  width: 100%;
  background-color: #2e7bff;
  padding: 15px 0px 15px 0px;
  margin-bottom: 60px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 4px 15px -0px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  cursor: default;
  transition: all 0.4s ease;
}

.register_Header_Bar:hover {
  background-color: #2e62ff;
}

.registerInput {
  width: 90% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.btnConfirm {
  width: 90% !important;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 60px;
  margin-right: 0px;
  margin-left: 0px;
}

.anchortag{
  font-size: 12px;
  text-decoration: none;
}

.blue:link{
  color: #2e62ff;
}

.blue:visited{
  color: #2e62ff;
}

@media screen and (max-width: 960px) {
  .registerRow {
    flex-direction: column !important;
  }

  .loginImage {
    width: 75vw;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 60px;
  }

  .registerForm {
    margin-right: 0px;
  }
}
