<html>
  <head>
    <link
      rel="stylesheet"
      href="/Online-Pharmacy-Portal/components/layout/footer/footer.css"
    />
    <link rel="stylesheet" href="/Online-Pharmacy-Portal/globals.css" />
    <script src="/Online-Pharmacy-Portal/components/layout/footer/footer.js"></script>
  </head>
  <body>
    <div class="footer column justify-between">
      <div class="w-full row justify-between topSection">
        <div class="footerHeading row justify-start">
          <img src="/Online-Pharmacy-Portal/assets/images/logo.svg" alt="logo" class="logo" />
          <h1 class="footerTitle">SIMPLE MEDS</h1>
        </div>

        <div class="w-full footerContent row justify-between">
          <div class="footerLinks row">
            <a href="/" class="footerLink">Home</a>
            <a href="/" class="footerLink">Careers</a>
            <a href="/" class="footerLink">Browse</a>
            <a href="/" class="footerLink">Contact Us</a>
            <a href="/" class="footerLink">Management</a>
          </div>
          <div class="row justify-center footerContacts">
            <div class="email_hotline">
              <p>Email : simplemeds@gmail.com</p>
              <p>Hotline : 0XXXXXXXXX</p>
            </div>
            <div class="findUs column justify-center">
              <p>Find Us On</p>
              <div class="socialLinks">
                <a href="https://www.facebook.com/">
                  <img
                    src="/Online-Pharmacy-Portal/assets/images/footer/facebook.svg"
                    alt="facebook"
                    class="socialIcon"
                    style="width: 30px; height: 30px"
                /></a>
                <a href="https://twitter.com/">
                  <img
                    src="/Online-Pharmacy-Portal/assets/images/footer/twitter.svg"
                    alt="twitter"
                    class="socialIcon"
                    style="
                      width: 38px;
                      height: 38px;
                      margin: 0px;
                      margin-bottom: 11px;
                    "
                /></a>
                <a href="https://www.instagram.com/">
                  <img
                    src="/Online-Pharmacy-Portal/assets/images/footer/instagram.svg"
                    alt="instagram"
                    class="socialIcon"
                    style="width: 32px; height: 32px"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        © 2021 SimpleMeds. All rights reserved. | Terms & Conditions | Privacy
        Policy | Software Services Agreement
      </div>
    </div>
  </body>
</html>
