<html>
  <head>
    <link
      rel="stylesheet"
      href="/Online-Pharmacy-Portal/components/home/topSellingProduct/topSellingProduct.css"
    />
    <link rel="stylesheet" href="/Online-Pharmacy-Portal/globals.css" />
    <script src="/Online-Pharmacy-Portal/components/home/topSellingProduct/topSellingProduct.js"></script>
  </head>

  <body>
    <div class="column TSP_Content">
      <img src="./assets/images/home/meds1.png" class="TSP_Img" />
      <div class="row justify-between TSP_Details" style="margin-top: 40px">
        <div class="column">
          <div class="detailText" style="margin-bottom: 20px">Product Name</div>
          <div class="detailText">Rs.3000</div>
        </div>
        <div
          class="button btnViewTSP_Details"
          style="margin-right: 0px; padding-left: 50px; padding-right: 50px"
        >
          View
        </div>
      </div>
    </div>
  </body>
</html>
