.orderInfoRow {
  margin: 50px;
}

.MO_Header_Bar {
  background-color: #2e7bff;
  padding: 15px 30px 15px 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px -0px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #ffffff;
  font-size: 25px;
  transition: all 0.4s ease;
  cursor: default;
}

.MO_Header_Bar:hover {
  background-color: #2e62ff;
}

.orderRowCard {
  width: 15vw;
  height: 15vw;
  margin: 50px;
  padding: 20px;
  background-color: #2e7bff;
  box-shadow: 0px 4px 15px -0px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  color: #ffffff;
  cursor: default;
  border-radius: 5px;
}

.orderRowCard:hover {
  background-color: #2e62ff;
  box-shadow: 0px 5px 15px -0px rgba(0, 0, 0, 0.3);
  transform: scale(1.015, 1.015);
}

.cardNumberTxt {
  font-size: 50px;
}

.cardNameTxt {
  font-size: 25px;
}

.orderImage {
  width: 40vw;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0px 4px 15px -0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.4s ease;
}

.orderImage:hover {
  filter: brightness(105%);
  transform: scale(1.015, 1.015);
}

.headings {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
  border-radius: 5px;
}

.itemList {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 80px;
}

.tableHeadings {
  width: 100%;
  box-shadow: 0px 3px 15px -0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  color: #ffffff;
  text-align: left;
  background-color: #2e7bff;
}

.tableHeadings:hover {
  background-color: #2e62ff;
}

.tableRow {
  width: 100%;
  box-shadow: 0px 3px 15px -0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.tableRow:hover {
  transform: scale(1.005, 1.005);
}

.tableCell {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.headingCell {
  font-weight: 700 !important;
}

.wideCell {
  width: 40vw !important;
}

.narrowCell {
  width: 10vw !important;
}

.productInfoIcon {
  display: none;
}

.itemList {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1260px) {
  .MO_Header_Bar {
    text-align: center;
  }
  .orderInfoRow {
    flex-direction: column-reverse !important;
  }

  .orderImage {
    width: 75vw;
    margin-bottom: 20px;
  }

  .orderRowCard {
    width: 30vw;
    height: 25vw;
    margin: 20px;
  }

  .cardNumberTxt {
    font-size: 35px;
  }

  .cardNameTxt {
    font-size: 25px;
  }
}

@media screen and (max-width: 1060px) {
  .itemList {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    overflow-x: auto;
  }

  .tableHeadings {
    display: none !important;
  }

  .tableRow:hover {
    transform: scale(1, 1);
  }

  .tableRow {
    margin-bottom: 30px;
    flex-direction: column !important;
  }

  .tableCell {
    width: auto !important;
  }

  .productInfoIcon {
    display: flex;
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .MO_Header_Bar {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 23px;
  }
  .orderCardRow {
    flex-direction: column !important;
  }

  .orderRowCard {
    width: 60vw;
    height: 25vw;
    margin: 20px;
  }

  .cardNumberTxt {
    font-size: 30px;
  }

  .cardNameTxt {
    font-size: 20px;
  }
}
