html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  background-color: white;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 80%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 5px 15px #2e7bff(0, 0, 0, 0.1);
    transition: 500ms ease-in-out;
  }

  .nav-link {
    font-weight: 500;
  }
}

/* product */
.product_row {
  height: auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
  margin-top: 2rem;
  overflow: hidden;
}

/*  product */
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;
}

.product-figure {
  position: relative;
  width: 37rem;
  height: 37rem;
  background-color: #2e7bff;
  border-radius: 50%;
  transition: 500ms linear;
}

.product-figure::before {
  content: "";
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
  height: 85%;
  background-color: white;
  border-radius: 50%;
}

.product-img {
  width: 25rem;
  height: 20rem;
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  margin-left: auto;
  margin-right: auto;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.dot:not(:last-child) {
  margin-right: 0.7rem;
}

.dot-color-1 {
  background-color: #2e7bff;
}

.dot-color-2 {
  background-color: black;
}

.dot.active {
  border: 1px solid white;
  box-shadow: 0 0 2px #2e7bff(0, 0, 0, 0.1);
}

.info-subtitle {
  font-weight: 500;
  font-size: 2.2rem;
}

.info-title {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.info-description {
  margin-bottom: 2rem;
}

.info {
  margin-left: 5%;
}

.size-title,
.count-title {
  margin-bottom: 1rem;
}

.size-total {
  display: inline-block;
  font-size: 1.3rem;
  color: #2e7bff;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 0.5rem;
}

.size-total.active {
  background-color: #2e7bff;
  color: white;
}

.size-total:not(:last-child) {
  margin-right: 1.5rem;
}

.count-content {
  background-color: #2e7bff;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  width: 10rem;
  height: 3rem;
}

.count-content span {
  font-size: 1.8rem;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}
.count {
  display: flex;
  justify-content: space-evenly;
}
.add-to-cart {
  display: flex;
  align-items: center;
  padding: 1 4rem;
  width: 15rem;
  height: 6rem;
}

.price {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.price-title {
  font-weight: 500;
  font-size: 3rem;
}

.price-button {
  background-color: #2e7bff;
  color: white;
  border-radius: 0.5rem;
  padding: 1.3rem 5rem;
}

@media only screen and (max-width: 840px) {
  .product_row {
    grid-template-columns: 1fr;
    margin-top: 8rem;
    overflow: visible;
  }
}

@media only screen and (max-width: 567px) {
  .product_row {
    margin-top: 4rem;
  }

  .product-figure {
    width: 27rem;
    height: 27rem;
  }

  .product-img {
    width: 21rem;
    height: 17rem;
    top: 25%;
  }

  .info-subtitle {
    font-size: 1.8rem;
  }

  .info-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .info-description {
    line-height: 1.2;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .price {
    position: absolute;
    left: 0;
    margin-top: 4rem;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 5px 15px #2e7bff(0, 0, 0, 0.5);
    width: 100%;
    padding: 2rem 2rem 0 2rem;
  }
}
