html {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 80%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 5px 15px #2e7bff(0, 0, 0, 0.1);
    transition: 500ms ease-in-out;
  }

  .nav-link {
    font-weight: 500;
  }
}

.container {
  min-height: 85vh;
}

/* product */
.product_row {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
  margin-top: 2rem;
  overflow: hidden;
}

/*  product */
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;
}

.product-figure {
  position: relative;
  width: 32vw;
  height: 32vw;
  background-color: #2e7bff;
  border-radius: 50%;
  transition: 500ms linear;
  z-index: 0;
}

.product-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  z-index: 1;
  object-fit: cover;
  transition: 500ms linear;
}

.info-subtitle {
  font-weight: 500;
  font-size: 3.2rem;
}

.info-title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.info-description {
  margin-bottom: 2rem;
  font-size: 18px;
}

.info {
  margin-left: 5%;
}

.size-title,
.count-title {
  margin-bottom: 1rem;
}

.size-total {
  display: inline-block;
  font-size: 1.3rem;
  color: #2e7bff;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 0.5rem;
}

.size-total.active {
  background-color: #2e7bff;
  color: white;
}

.size-total:not(:last-child) {
  margin-right: 1.5rem;
}

.count-content {
  background-color: #2e7bff;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  width: 10rem;
  height: 3rem;
}

.count-content span {
  font-size: 1.8rem;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}
.count {
  display: flex;
  justify-content: space-evenly;
}
.add-to-cart {
  display: flex;
  align-items: center;
  padding: 1 4rem;
  width: 15rem;
  height: 6rem;
}

.price {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.price-title {
  font-weight: 500;
  font-size: 2.1rem;
}

.price-button {
  width: 30%;
  background-color: #2e7bff;
  color: white;
  border-radius: 0.5rem;
  margin-left: 0px !important;
  margin-top: 30px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-size: 19px;
}

@media only screen and (max-width: 1260px) {
  .product-figure {
    width: 38vw;
    height: 38vw;
  }

  .product-img {
    width: 33vw;
    height: 33vw;
  }
}

@media only screen and (max-width: 960px) {
  .product-figure {
    width: 50vw;
    height: 50vw;
  }

  .product-img {
    width: 43vw;
    height: 43vw;
  }

  .product_row {
    width: 90%;
    grid-template-columns: 1fr;
    margin-right: 0vw;
    overflow: visible;
  }

  .product-info {
    align-items: center !important;
  }

  .info {
    margin-left: 0%;
  }

  .info-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .info-description {
    text-align: center;
  }

  .price-title {
    font-size: 2.1rem;
  }

  .price-button {
    width: 70%;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-bottom: 60px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 567px) {
  .product_row {
    margin-top: 4rem;
  }

  .product-figure {
    width: 85vw;
    height: 85vw;
  }

  .product-img {
    width: 75vw;
    height: 75vw;
  }

  .info-subtitle {
    font-size: 1.8rem;
  }

  .info-title {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }

  .info-description {
    line-height: 1.2;
    margin-bottom: 1rem;
    font-size: 17px;
  }

  .price {
    position: absolute;
    left: 0;
    margin-top: 4rem;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 5px 15px #2e7bff(0, 0, 0, 0.5);
    width: 100%;
    padding: 2rem 2rem 0 2rem;
  }

  .price-title {
    font-size: 2rem;
  }
}
