.admin_Header_Bar {
  background-color: #2e7bff;
  padding: 15px 30px 15px 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px -0px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #ffffff;
  font-size: 23px;
  cursor: default;
  transition: all 0.4s ease;
}

.admin_Header_Bar:hover {
  background-color: #2e62ff;
}

.managementTabRow {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  border-radius: 5px;
}

.managementTab {
  width: 50%;
  background-color: #333333;
  padding: 15px 30px 15px 30px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: all 1s ease !important;
}

.userTab {
  border-radius: 5px 0px 0px 5px;
  margin-right: 0px;
  box-shadow: 0px 4px 15px -0px rgba(0, 0, 0, 0.2);
  background-color: #2e62ff;
}

.productTab {
  border-radius: 0px 5px 5px 0px;
  margin-left: 0px;
  box-shadow: 0px 4px 15px -0px rgba(0, 0, 0, 0.2);
}

.managementTab:hover {
  background-color: #2e62ff;
}

.userBtnRow {
  margin-right: 53px;
}

.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  pointer-events: none;
}

.modalForm {
  background-color: #ffffff;
  width: 20vw;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 10px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  pointer-events: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  overflow-y: auto;
}

.modalBtnAdd {
  outline: 0px !important;
  border-style: none;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-size: 15px;
}

.userListHeadings {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 5px;
}

.userList {
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 80px;
}

.userTableHeading {
  width: 100%;
  box-shadow: 0px 3px 15px -0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  color: #ffffff;
  text-align: left;
  background-color: #2e7bff;
}

.userTableHeading:hover {
  background-color: #2e62ff;
}

.userTableRow {
  width: 100%;
  box-shadow: 0px 3px 15px -0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.userTableRow:hover {
  transform: scale(1.005, 1.005);
}

.tableCell {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.headingCell{
  font-weight: 700 !important;
}

.emailCell {
  width: 40vw !important;
}

.usernameCell {
  width: 100% !important;
}

.userRoleCell {
  width: 10vw !important;
}

.deleteCell {
  width: 3vw !important;
}

.userIcon {
  display: none;
}

.emailIcon {
  display: none;
}

.roleIcon {
  display: none;
}

.binImage {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .admin_Header_Bar {
    text-align: center;
  }

  .modalForm {
    width: 55vw;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 680px) {
  .userList {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    overflow-x: auto;
  }

  .userTableHeading {
    display: none !important;
  }

  .userTableRow:hover {
    transform: scale(1, 1);
  }

  .userTableRow {
    margin-bottom: 30px;
    flex-direction: column !important;
  }

  .tableCell {
    width: auto !important;
  }

  .userIcon {
    display: flex;
    height: 30px;
    width: 25px;
    margin-left: 2px;
    margin-right: 22px;
  }

  .emailIcon {
    display: flex;
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }

  .roleIcon {
    display: flex;
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .managementTabRow {
    flex-direction: column !important;
  }

  .userTab {
    width: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .productTab {
    width: auto;
    border-radius: 5px;
  }
}
