<html>
  <head>
    <link
      rel="stylesheet"
      href="/Online-Pharmacy-Portal/components/layout/navbar/navbar.css"
    />
    <link rel="stylesheet" href="/Online-Pharmacy-Portal/globals.css" />
    <script src="/Online-Pharmacy-Portal/components/layout/navbar/navbar.js"></script>
  </head>
  <body>
    <div class="navbar row justify-between">
      <div class="row justify-center">
        <img src="./assets/images/navbar/logo.svg" alt="logo" class="logo" />
        <h1>SIMPLE MEDS</h1>
      </div>

      <div class="row justify-center navLinks">
        <div class="button">Management</div>
        <div class="button">Browse Medicine</div>
        <div class="button">Log In</div>
        <div class="btnIcon">
          <img
            src="./assets/images/navbar/cart.svg"
            alt="My Cart"
            class="cartIcon icon"
          />
        </div>
        <div class="btnIcon">
          <img
            src="./assets/images/navbar/home.svg"
            alt="Home"
            class="homeIcon icon"
          />
        </div>
      </div>
      <!-- Mobile Nav -  Menu Button -->
      <div class="hamburger" onclick="toggleMobileNav()">
        <img
          src="./assets/images/navbar/hamburger.svg"
          alt="Home"
          class="icon hamburgerIcon"
        />
      </div>
    </div>

    <!-- Mobile Nav -  Content -->
    <div id="mobileNav" class="mobileNavbar column navbarClosed">
      <div class="w-full row justify-end" style="height: 100px">
        <div class="btnIcon" onclick="toggleMobileNav()">
          <img
            src="./assets/images/navbar/cross.svg"
            alt="Close"
            class="cross icon"
          />
        </div>
      </div>
      <div class="h-full column justify-center">
        <div class="column justify-center headingMobile">
          <img
            src="./assets/images/navbar/logo.svg"
            alt="logo"
            class="logoMobile"
          />
          <h1 class="titleMobile">SIMPLE MEDS</h1>
        </div>

        <div class="column justify-center">
          <div class="button btnMobile">Management</div>
          <div class="button btnMobile">Browse Medicine</div>
          <div class="button btnMobile">View Cart</div>
          <div class="button btnMobile">Home</div>
          <div class="button btnMobile">Log In</div>
        </div>
      </div>
    </div>
  </body>
</html>
