<html>
  <head>
    <link
      rel="stylesheet"
      href="/Online-Pharmacy-Portal/components/layout/navbar/navbar.css"
    />
    <link rel="stylesheet" href="/Online-Pharmacy-Portal/globals.css" />
  </head>
  <body>
    <div class="navbar row justify-between">
      <div class="row justify-center">
        <img
          src="./assets/images/navbar/logo.svg"
          alt="logo"
          style="width: 60px; height: 60px; margin-left: 20px;margin-right: 20px;"
        />
        <h1>SIMPLE MEDS</h1>
      </div>

      <div class="row justify-center navLinks">
        <div class="button">Management</div>
        <div class="button">Browse Medicine</div>
        <div class="button">Log In</div>
        <div class="btnIcon">
          <img
            src="./assets/images/navbar/cart.svg"
            alt="My Cart"
            class="cartIcon icon"
          />
        </div>
        <div class="btnIcon">
          <img
            src="./assets/images/navbar/home.svg"
            alt="Home"
            class="homeIcon icon"
          />
        </div>
      </div>
    </div>
  </body>
</html>
